

pandas~=1.5
numpy~=1.23.1
scikit-learn~=1.1
transformers[sentencepiece]~=4.23
sentence-transformers~=2.2
joblib~=1.1.0
tqdm~=4.64.0
optuna~=3.0
EasyNMT~=2.0.2
datasets~=2.6

# Snellius A100 has CUDA 11.4
#torch==1.11.0  # torch installation on Snellius only seems to work via terminal/batch script
#codecarbon==2.0  # causes issues with Snellius

spacy~=3.4.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.4.0/en_core_web_md-3.4.0-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/ko_core_news_md-3.4.0/ko_core_news_md-3.4.0-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/ru_core_news_md-3.4.0/ru_core_news_md-3.4.0-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/es_core_news_md-3.4.0/es_core_news_md-3.4.0-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/de_core_news_md-3.4.0/de_core_news_md-3.4.0-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.4.0/fr_core_news_md-3.4.0-py3-none-any.whl
# spacy models for pimpo
https://github.com/explosion/spacy-models/releases/download/sv_core_news_md-3.4.0/sv_core_news_md-3.4.0-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/nb_core_news_md-3.4.0/nb_core_news_md-3.4.0-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/da_core_news_md-3.4.0/da_core_news_md-3.4.0-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/fi_core_news_md-3.4.0/fi_core_news_md-3.4.0-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/nl_core_news_md-3.4.0/nl_core_news_md-3.4.0-py3-none-any.whl
